@section body{
    <div>
        <div id="container" style="overflow-y: auto; display: block; max-height: 90vh;">
            <table id="table">
                <tbody data-bind="foreach: items">
                    <tr>
                        <td data-bind="text: val, style: {'color': isError() == true ? 'red' : 'chartreuse'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            ><input id="input" type="text" data-bind="value: input, valueUpdate: 'afterkeydown', enterkey: onEnterKey" style="width: 90vw" />
        </p>
    </div>
}
