<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/App/main.js"></script>
    <style>
        body {
            font-family: monospace;
            color: chartreuse;
            background: black;
            caret-color: chartreuse;
        }
        input[type="text"] {
            background: transparent;
            border: none;
            color: chartreuse;
            font-family: monospace;
            outline: none;
        }
    </style>
</head>
<body>
@RenderSection("Body")
</body>
</html>